.env
.envrc
.tfdeps
.tfdeps-build
.terraform
*.tfstate*
terraform.d

# for the time being this can't be tracked as it has secrets.
# ultimately this file should be templated with the secrets living in the
# environment somewhere, and the rest of the file can safely be tracked in git
services/gitea/app.ini
