klar.sh {
	encode zstd gzip

	header /.well-known/matrix/server {
		Content-Type application/json
	}

	respond /.well-known/matrix/server 200 {
		body "{ \"m.server\": \"matrix.klar.sh:443\" }"
		close
	}

	root * /srv/www
	uri * strip_suffix /
	try_files {path} {path}/ {path}.html
	file_server
}

matrix.klar.sh {
	encode zstd gzip
	reverse_proxy /_matrix/* http://10.42.69.2:8448
	reverse_proxy /_synapse/client/* http://10.42.69.2:8448
}

warden.klar.sh {
	encode zstd gzip
	reverse_proxy /* http://10.42.69.20:8000
}

whattheref.info {
	encode zstd gzip
	root * /srv/www
	try_files /wtr_2023_wip.html
	file_server
}

writing.is.absolutelynot.fun {
	encode zstd gzip
	reverse_proxy /* http://10.42.69.21:9001
}
